server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/oris_test_sem2
    username: postgres
    password: reg123321reg
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db-changelog.xml
    url: jdbc:postgresql://localhost:5432/oris_test_sem2
    user: postgres
    password: reg123321reg
    driver-class-name: org.postgresql.Driver
  freemarker:
    template-loader-path: /WEB-INF/templates
    suffix: .ftl
  mail:
    host: smtp.gmail.com
    username: "r.arifulina@gmail.com"
    password: "*"
    port: 25
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true
mail:
  content: "Dear {name}, please follow the link below for verify your account: <a href=\"{url}\">VERIFY</a>"
  from: "r.arifulina@gmail.com"
  sender: Test Application
  subject: Please verify your account