driver-class-name=org.postgresql.Driver
url=jdbc:postgresql://localhost:5432/oris_test_sem2
username=postgres
password=reg123321reg
change-log-file=src/main/resources/db/changelog/liquibase-output.xml